# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# project
.eslintcache
.stylelintcache

# dependencies
node_modules/
*/*/bower_components/

# production
/dist
build/

# misc
.DS_Store
.idea

# log
*.log
